<!doctype html>
<html lang="en">
	<head>
		{% load bootstrap4 %}
		{% load static %}
		{% bootstrap_css %}
		{% bootstrap_javascript %}
		{% block head %}{% endblock %}
		<link rel="shortcut icon" type="image/jpg" href="{% static 'cases/images/favicon.jpg' %}"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">	
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{% static 'cases/css/style.css' %}" type="text/css" media="screen" />

		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
			<script type="text/javascript">
	$(function(){
		$page = window.location.pathname;
		if(!$page) {
			$page = 'index.html';
		}
		$("#navbar a").each(function(){
			var $href = $(this).attr('href');
			if ( ($href == $page) || ($href == '') ) {
				$(this).addClass('is_current_page');
			} else {
				$(this).removeClass('is_current_page');
			}
		});
	});
	</script>
		
		<title>{% block title %}{% endblock %}</title>
	</head>
	<header>
		{% block navbar %}
			<div id="navbar">
				<img id="logo" width="40px" height ="40px" src="{% static 'cases/images/sao-logo.png' %}">
				<a id="logoutBtn" href="{% url 'cases:logout' %}" style="float:right">Log out</a>
				<a href="{% url 'cases:case_list' request.user.caseworker.slug %}">Cases</a>
				<a href="{% url 'cases:intake'%}">Intake</a>	
			</div>
		{% endblock %}
		
		{% block header %}		
		{% endblock %}
	</header>
	<body>
		<main>
			{% block body %}
			{% endblock %}
		</main>
	</body>
</html>