{% extends "base.html" %} 
{% load bootstrap4 %} 
{% block title %}{{ case.is_open|yesno:"Close,Reopen" }} case{% endblock %}
{% block body %}
  <div id="case-close-contents">
		<h3>Are you sure you want to {{ case.is_open|yesno:"close,reopen" }} {{ case.client_name }}'s case?</h3>
    <form role="form" action="" method="post">
      {% csrf_token %} 
	  {% bootstrap_form form %}
      <button id=type="submit" class="btn btn-{{ case.is_open|yesno:'danger,success' }}">I'm sure, {{ case.is_open|yesno:'close,reopen' }} the case</button>
      <a class="btn btn-secondary" href="{{ request.GET.next }}">Cancel</a>
    </form>
  </div>
{% endblock %}
