{% extends "base.html" %} 
{% load bootstrap4 %} 
{% block title %}{{case.client_name}}{% endblock %}
{% block head %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<script>
	$(function() {
	    $("#updates").accordion({ heightStyle: "content", collapsible: true });
	    $("#case-description").accordion({ heightStyle: "content", collapsible: true });

	});
	</script>
{% endblock %} 
{% block body %}
	<a href="{% url 'cases:case_open_close' case.pk %}?next={{request.path|urlencode}}" class="btn btn-sm {{case.is_open|yesno:'btn-danger,btn-success'}}" style="float:right">{{case.is_open|yesno:'Close,Reopen'}} case</a>
	<h3 style="clear:left">{{case.client_name}} [{{case.divisions}}]{% if not case.is_open %}, closed on {{case.close_date}}{% endif %}</h3>
	<p> {% if case.client_phone %} <i class="fa fa-phone"></i> {{case.display_client_phone}}{% endif %} {% if case.client_email %} {{case.client_phone|yesno:" | ,"}} <i class="fa fa-envelope"></i><a href="mailto:{{case.client_email}}"> 
			  {{case.client_email}}</a>{% endif %} {% if case.client_SID %} | <i class="fa fa-id-card"></i> {{case.client_SID}}{% endif %}
	</p>
	<div id="case-detail-contents">
		<div id="updates">
		  {% for update in case.caseupdate_set.all %}
		  <h4>{{update.creation_date}}</h4>
		  <div class="update-card">
		    <p>{{update.update_description}}</p>
		  </div>
		  {% endfor %}
		</div>
		<div id="case-description">
		  <h4>Intake report [{{case.open_date}}]</h4>
		  <p>{{ case.incident_description }}</p>
		</div>
		{% if case.is_open %}
			<div id="case-update-form">
				<h5>Add a case update</h5>
				<form  role="form" action="" method="post">
				  {% csrf_token %} {% bootstrap_form form %} 
				  {% bootstrap_button "Save update" button_type="submit" button_class="btn-primary" %}
				</form>
			</div>
		{% endif %} 
	</div>
{% endblock %}