{% extends "base.html" %} 
{% load bootstrap4 %} {% load static %}
{% block title %}{{case.client_name}}{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script> var clientName = "{{ case.client_name }}"; </script>
<script src="{% static 'cases/js/casedetail.js' %}" type="text/javascript"></script>
{{form.media}}
{% endblock %} 

{% block body %}
<div id="case-detail-btns" class="btn-group-vertical btn-group-sm">
<a href="{% url 'cases:case_open_close' case.pk %}?next={{request.path|urlencode}}" class="btn {{case.is_open|yesno:'btn-danger,btn-success'}}">{{case.is_open|yesno:'Close,Reopen'}} case</a>
<button id="show-client-information-toggle" type="button" class="btn btn-light">Hide client information</button>

</div>
	<div id="client-information">
		<h3 style="clear:left">{{case.client_name}} [{{case.divisions}}]{% if not case.is_open %}, closed on {{case.close_date}}{% endif %}</h3>
		<p> {% if case.client_phone %} <i class="fa fa-phone"></i> {{case.display_client_phone}}{% endif %} {% if case.client_email %} {{case.client_phone|yesno:" | ,"}} <i class="fa fa-envelope"></i><a href="mailto:{{case.client_email}}"> 
				  {{case.client_email}}</a>{% endif %} {% if case.client_SID %} | <i class="fa fa-id-card"></i> {{case.client_SID}}{% endif %}
		</p>
	</div>
	<div id="case-detail-contents">
		<div id="updates">
		  {% for update in case.caseupdate_set.all %}
		  {% if case.caseworkers.count > 1 and update.creator is not None %}
			  <h4>{{update.creation_date}} [{{update.creator.name}}]</h4>
		  {% else %}
			  <h4>{{update.creation_date}}</h4>
		  {% endif %}
		  <div class="update-card">
		    {{update.update_description|safe}}
		  </div>
		  {% endfor %}
		</div>
		<div id="case-description">
		  <h4>Intake report [{{case.open_date}}]</h4>
		  {{ case.incident_description|safe }}
		</div>
		{% if case.is_open %}
			<div id="case-update-form">
				<h5>Add a case update</h5>
				<form  role="form" action="" method="post">
				  {% csrf_token %} {% bootstrap_form form %} 
				  {% bootstrap_button "Save update" button_type="submit" button_class="btn-primary" %}
				</form>
			</div>
		{% endif %} 
	</div>
{% endblock %}
