{% extends "cases/base.html" %}
{% load bootstrap4 %}
{% block title %}{{ person.name }}{% endblock %}

{% block body %}
	<h1>{{ person.name }}'s open cases</h1>

	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
	{% for case in person.case_set.all %}
		{% if case.isOpen %}
		<hr>
		<h3><a href="{% url 'cases:case_update' case.slug %}">{{case.client_name}}</a></h3>
		<ul>
			<li>Case status: {{ case.isOpen|yesno:"open,closed" }}</li>
			<li>Date opened: {{ case.open_date }}</li>
			<li>Phone: {{case.client_phone}}</li>
			<li>Email: {{case.client_email}}</li>
			<li>SID: {{case.client_SID}}</li>
			<li>Description: {{ case.incident_description }}</li>
		</ul>
		{% endif %}
	{% endfor %}
{% endblock %}
