{% extends "cases/base.html" %}
{% load bootstrap4 %}
{% block title %}Caseworkers{% endblock %}

{% block body %}
	{% if caseworker_list %}
		<ul id="caseworkerList">
	    {% for caseworker in caseworker_list %}
	    	{% buttons %}
	    	{% if user.username != caseworker.name %}
	        <li><a  id = "indexBtns" href="{% url 'cases:detail' caseworker.slug %}" class = "btn btn-secondary btn-block disabled">
	        	<h3>{{caseworker.name}}</h3>
	        </a></li>
	        {% else %}
	        <li><a  id = "indexBtns" href="{% url 'cases:detail' caseworker.slug %}" class = "btn btn-primary btn-block">
	        	<h3>{{caseworker.name}}</h3>
	        </a></li>
	        {% endif %}
	        {% endbuttons %}
	    {% endfor %}
		</ul>
	{% else %}
	    <p>The office is empty.</p>
	{% endif %}
{% endblock %}