{% extends "base.html" %} 
{% load bootstrap4 %} 
{% block title %}Intake form{% endblock %}
{% block header %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script>
  $( function() {
    $("#id_open_date").datepicker();
  } );
  </script>
{% endblock %}
{% block body %}
  <h2>Intake form</h2>
  <form role="form" action="" method="post">
    {% csrf_token %} {% bootstrap_form form %} {% buttons %}
    <button id=type="submit" class="btn btn-primary">Submit</button>
    <button type="reset" class="btn btn-secondary">Reset form</button>
    {% endbuttons %}
  </form>
{% endblock %}