<head>
	<link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/themes/redmond/jquery-ui.css" rel="Stylesheet" />
	<script language="javascript" type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script> 
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js"></script> 
</head>

<form action="" method="post">{% csrf_token %}
	{{ form.as_p }}
	<input type="submit" value="Save" />
</form>

<script type="text/javascript"> 
$(function(){
	$("#id_open_date").datepicker();
});
</script>