{% load bootstrap4 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<link rel="stylesheet" type="text/css" href="{% static 'cases/style.css' %}" />

<head><title>Login</title></head>
<h2>Log in to your account</h2>
<br>
{% block content %}

<form method="post" action="{% url 'cases:login' %}">
{% csrf_token %}
{% bootstrap_form form %}
{% buttons %}
    <button type="submit" class="btn btn-primary">Log in</button>
    <button type="reset" class = "btn btn-secondary">Clear</button>
{% endbuttons %}
</form>

{% endblock %}