<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" /> 
  {% load static %} {% load compress %} {% load bootstrap4 %}
  <link rel="shortcut icon" type="image/jpg" href="{% static 'images/favicon.jpg' %}" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  {% compress css %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="screen" />
  {% endcompress %}
  {% compress js %}
  <script src="{% static 'js/base.js' %}"></script>
  {% block extra_js %} {% endblock %}
  {% endcompress %}
  <title>{% block title %}{% endblock %}</title>
  {% block extra_head %}{% endblock %}
</head>
<header>
  {% block navbar %}
  <div id="navbar">
    {% if request.user.is_staff %}
      <a id="admin-link" href="{% url 'admin:index' %}">
      <img id="logo" width="40px" height="40px" src="{% static 'images/sao-logo.png' %}">
      </a>
    {% else %}
      <a id="admin-link">
      <img id="logo" width="40px" height="40px" src="{% static 'images/sao-logo.png' %}">
      </a>
    {% endif %} 
    <a class="nav-button" href="{% url 'cases:case_list' %}">Cases</a>
    <a class="nav-button" href="{% url 'cases:intake'%}">Intake</a>
    <a class="nav-button" href="{% url 'user_change' pk=request.user.id %}">Account</a>
    <a id="logout-btn" class="nav-button" href="{% url 'logout' %}">Log out</a>
  </div>
  {% endblock %} 
</header>

<body>
  <main>
    {% block body %} {% endblock %}
  </main>
</body>

</html>