
main {
	margin: 0 auto;
}

#caseworkerList {
	list-style-type: none;
	text-align: center;
}


#homeH1 {
	text-align: center;
}

#btnCases {
	display: inline;
	width: 100%;
}

#logoutBtnDiv {
	display: block;
	margin-bottom: 2%;
}

#caseworkerList {
	padding-left: 0;
}

